# Ignore build outputs
bin/
obj/
*.pdb

# Ignore Visual Studio files
.vs/
*.user
*.suo

# Ignore Rider and JetBrains IDE files
.idea/
*.iml

# Ignore temporary files
*.tmp
*.log
*.swp

# Ignore dependency manager files
packages/
node_modules/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment variables
.env
.env.*
/POE2.AutoSplitter/Component/test-data/Path of Exile 2.lss
/POE2.AutoSplitter/Component/test-data/Client.txt
/POE2.AutoSplitter/Component/test-data/a.lsl
